# Linia de comentari
# /app/cache/*         --> ignora la carpeta i tots els continguts
# !app/cache/.gitkeep  --> NO ignoris aquest arxiu de la carpeta que Si que ignores

# aquesta carpeta no es puja al GIT
/secrets/*
/css/libs/w3.css
/js/libs/jquery.js




